---

---

<div class="acercade-container flex flex-col justify-center items-center px-32 py-28">
  <div class="title">
    <h2 class="text-5xl font-regular text-primary">Acerca de Trivo</h2>
  </div>
  <div class="cards flex flex-row justify-between items-center w-full gap-10 mt-10">
    <div class="card w-1/2 flex flex-col items-end">
      <div class="header relative flex flex-col justify-between w-full h-85 bg-[url('/paraempresas.jpg')] bg-cover bg-center rounded-2xl p-8">
        <div class="absolute inset-0 pointer-events-none z-1" style="background: radial-gradient(ellipse at center, transparent 20%, rgba(0,0,0,0.5) 100%)"></div>
        <div class="cardtitle">
          <h3 class="text-white text-2xl font-semibold relative z-2">Para empresas</h3>
        </div>
        <div class="next-btn relative z-2">
          <a href="" class="">
            <div class="text">
              <span class="main-text font-semibold">Contrata</span>
              <span class="secondary-text font-light">expertos</span>
            </div>
            <div class="arrow"><img src="/iconos/Arrow3.svg" alt="" /></div>
          </a>
        </div>
      </div>
      <div class="content relative z-2 flex flex-col gap-10 bg-white rounded-l-2xl rounded-bl-2xl rounded-br-2xl p-8 shadow-xl w-120 -top-30">
        <div class="key-content border-b border-gray-300">
          <div class="title bg-bg-secondary p-2 rounded-xl flex flex-row gap-2 items-center">
            <div class="icon"><img src="/iconos/check.svg" class="size-8" alt="" /></div>
            <p class="font-semibold text-primary">Encuentra talento validado en minutos</p>
          </div>
          <div class="text py-5 text-justify font-light">Trivo te conecta con expertos calificados y evaluados por la comunidad. Ahorra tiempo y contrata con confianza.</div>
        </div>
        <div class="key-content border-b border-gray-300">
          <div class="title bg-bg-secondary p-2 rounded-xl flex flex-row gap-2 items-center">
            <div class="icon"><img src="/iconos/check.svg" class="size-8" alt="" /></div>
            <p class="font-semibold text-primary">Contrataciones flexibles</p>
          </div>
          <div class="text py-5 text-justify font-light">Publica ofertas para proyectos temporales o posiciones fijas. Gestiona todo el proceso desde un solo lugar..</div>
        </div>
        <div class="key-content border-b border-gray-300">
          <div class="title bg-bg-secondary p-2 rounded-xl flex flex-row gap-2 items-center">
            <div class="icon"><img src="/iconos/check.svg" class="size-8" alt="" /></div>
            <p class="font-semibold text-primary">Optimiza tu presupuesto sin sacrificar calidad</p>
          </div>
          <div class="text py-5 text-justify font-light">Evita costos de intermediarios. Accede a tarifas claras y ajustadas a tu necesidad, desde talentos locales hasta internacionales.</div>
        </div>
      </div>
    </div>
    <div class="card w-1/2 flex flex-col items-start">
      <div class="header relative flex flex-col justify-between items-end w-full h-85 bg-[url('/paraexpertos.jpg')] bg-cover bg-center rounded-2xl p-8">
        <div class="absolute inset-0 pointer-events-none z-1" style="background: radial-gradient(ellipse at center, transparent 20%, rgba(0,0,0,0.5) 100%)"></div>
        <div class="cardtitle">
          <h3 class="text-white text-2xl font-semibold relative z-2">Para expertos</h3>
        </div>
        <div class="next-btn w-70 relative z-2">
          <a href="" class="">
            <div class="text">
              <span class="main-text font-semibold">Ingresar</span>
              <span class="secondary-text font-light">como experto</span>
            </div>
            <div class="arrow"><img src="/iconos/Arrow3.svg" alt="" /></div>
          </a>
        </div>
      </div>
      <div class="content relative z-2 flex flex-col gap-10 bg-white rounded-r-2xl rounded-b-2xl rounded-br-2xl p-8 shadow-xl w-115 -top-30">
        <div class="key-content border-b border-gray-300">
          <div class="title bg-bg-secondary p-2 rounded-xl flex flex-row gap-2 items-center">
            <div class="icon"><img src="/iconos/check.svg" class="size-8" alt="" /></div>
            <p class="font-semibold text-primary">Encuentra talento validado en minutos</p>
          </div>
          <div class="text py-5 text-justify font-light">Trivo te conecta con expertos calificados y evaluados por la comunidad. Ahorra tiempo y contrata con confianza.</div>
        </div>
        <div class="key-content border-b border-gray-300">
          <div class="title bg-bg-secondary p-2 rounded-xl flex flex-row gap-2 items-center">
            <div class="icon"><img src="/iconos/check.svg" class="size-8" alt="" /></div>
            <p class="font-semibold text-primary">Contrataciones flexibles</p>
          </div>
          <div class="text py-5 text-justify font-light">Publica ofertas para proyectos temporales o posiciones fijas. Gestiona todo el proceso desde un solo lugar..</div>
        </div>
        <div class="key-content border-b border-gray-300">
          <div class="title bg-bg-secondary p-2 rounded-xl flex flex-row gap-2 items-center">
            <div class="icon"><img src="/iconos/check.svg" class="size-8" alt="" /></div>
            <p class="font-semibold text-primary">Optimiza tu presupuesto sin sacrificar calidad</p>
          </div>
          <div class="text py-5 text-justify font-light">Evita costos de intermediarios. Accede a tarifas claras y ajustadas a tu necesidad, desde talentos locales hasta internacionales.</div>
        </div>
      </div>
    </div>
  </div>
</div>
