---
import RightArrow from "public/iconos/RightArrow.astro";
---

<div class="comoEmpezar-container px-32 pt-12 flex flex-col justify-center items-center">
  <div class="section-header py-12">
    <div class="title">
      <h2 class="text-5xl font-regular text-primary">Como empezar</h2>
    </div>
  </div>
  <div class="cards w-full flex flex-row justify-between items-center gap-6">
    <div class="card shadow-2xl bg-white rounded-2xl p-6 w-1/2">
      <div class="card-header relative bg-[url('/paraempresas2.jpg')] bg-cover bg-center rounded-2xl h-60 p-8">
        <div class="absolute rounded-2xl inset-0 pointer-events-none z-1" style="background: radial-gradient(ellipse at center, transparent 20%, rgba(0,0,0,0.5) 100%)"></div>
        <div class="title">
          <h3 class="font-semibold text-white z-2 relative text-3xl">Para empresas</h3>
        </div>
      </div>
      <div class="card-content py-6">
        <div class="step flex flex-row items-center justify-center border-b border-gray-300">
          <div class="number p-12 flex justify-center items-center font-semibold text-primary text-xl">1</div>
          <div class="content flex flex-col gap-2 py-4">
            <div class="title font-bold text-lg">Cuéntanos qué necesitas</div>
            <div class="text">
              <p class="opacity-70 font-light text-justify w-3/4 max-w-3/4">Completa un breve formulario para que nuestro algoritmo entienda tu proyecto y tus requerimientos.</p>
            </div>
          </div>
        </div>
        <div class="step flex flex-row items-center justify-center border-b border-gray-300">
          <div class="number p-12 flex justify-center items-center font-semibold text-primary text-xl">2</div>
          <div class="content flex flex-col gap-2 py-4">
            <div class="title font-bold text-lg">Formaliza en segundos</div>
            <div class="text">
              <p class="opacity-70 font-light text-justify w-3/4 max-w-3/4">Acepta los Términos y Condiciones con un solo clic. Sin trámites largos ni complicaciones legales.</p>
            </div>
          </div>
        </div>
        <div class="step flex flex-row items-center justify-center border-b border-gray-300">
          <div class="number p-12 flex justify-center items-center font-semibold text-primary text-xl">3</div>
          <div class="content flex flex-col gap-2 py-4">
            <div class="title font-bold text-lg">Conecta con expertos verificados</div>
            <div class="text">
              <p class="opacity-70 font-light text-justify w-3/4 max-w-3/4">Recibe recomendaciones personalizadas de expertos validados al instante, listos para unirse a tu proyecto.</p>
            </div>
          </div>
        </div>
        <div class="step flex flex-row items-center justify-center border-b border-gray-300">
          <div class="number p-12 flex justify-center items-center font-semibold text-primary text-xl">4</div>
          <div class="content flex flex-col gap-2 py-4">
            <div class="title font-bold text-lg">Inicia tu proyecto sin retrasos</div>
            <div class="text">
              <p class="opacity-70 font-light text-justify w-3/4 max-w-3/4">
                Selecciona el talento ideal, da inicio a la colaboración y enfócate en hacer crecer tu negocio. Trivo te acompaña en todo el proceso.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer py-6">
        <div class="next-btn relative z-2">
          <a href="" class="">
            <div class="text">
              <span class="main-text font-semibold">Contrata</span>
              <span class="secondary-text font-light">expertos</span>
            </div>
            <div class="arrow">
              <RightArrow class="size-8 fill-white" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card shadow-2xl bg-white rounded-2xl p-6 w-1/2">
      <div class="card-header flex justify-end relative bg-[url('/paraexpertos2.jpg')] bg-cover bg-center rounded-2xl h-60 p-8">
        <div class="absolute rounded-2xl inset-0 pointer-events-none z-1" style="background: radial-gradient(ellipse at center, transparent 20%, rgba(0,0,0,0.5) 100%)"></div>
        <div class="title">
          <h3 class="font-semibold text-white z-2 relative text-3xl">Para expertos</h3>
        </div>
      </div>
      <div class="card-content py-6">
        <div class="step flex flex-row-reverse items-center justify-center border-b border-gray-300">
          <div class="number p-12 flex justify-center items-center font-semibold text-primary text-xl">1</div>
          <div class="content flex flex-col items-end gap-2 py-4">
            <div class="title font-bold text-lg">Crea tu perfil en Trivo</div>
            <div class="text flex justify-end">
              <p class="opacity-70 font-light text-justify w-3/4 max-w-3/4">
                Registra tus habilidades, experiencia y los tipos de proyectos que te interesan. Mientras más completo tu perfil, más precisas serán las coincidencias.
              </p>
            </div>
          </div>
        </div>
        <div class="step flex flex-row-reverse items-center justify-center border-b border-gray-300">
          <div class="number p-12 flex justify-center items-center font-semibold text-primary text-xl">2</div>
          <div class="content flex flex-col items-end gap-2 py-4">
            <div class="title font-bold text-lg">Validamos tu experiencia</div>
            <div class="text flex justify-end">
              <p class="opacity-70 font-light text-justify w-3/4 max-w-3/4">Un gestor de talento de Trivo se pondrá en contacto contigo para confirmar tus competencias y trayectoria profesional.</p>
            </div>
          </div>
        </div>
        <div class="step flex flex-row-reverse items-center justify-center border-b border-gray-300">
          <div class="number p-12 flex justify-center items-center font-semibold text-primary text-xl">3</div>
          <div class="content flex flex-col items-end gap-2 py-4">
            <div class="title font-bold text-lg">Consigue proyectos</div>
            <div class="text flex justify-end">
              <p class="opacity-70 font-light text-justify w-3/4 max-w-3/4">Recibe ofertas alineadas con tus habilidades. Acepta la que más te interese y empieza a colaborar con empresas reales.</p>
            </div>
          </div>
        </div>
        <div class="step flex flex-row-reverse items-center justify-center border-b border-gray-300">
          <div class="number p-12 flex justify-center items-center font-semibold text-primary text-xl">4</div>
          <div class="content flex flex-col items-end gap-2 py-4">
            <div class="title font-bold text-lg">Recibe tu pago sin comisiones</div>
            <div class="text flex justify-end">
              <p class="opacity-70 font-light text-justify w-3/4 max-w-3/4">Envía tu factura y cobra el 100% de tu tarifa. En Trivo no hay cargos ocultos ni descuentos.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer flex justify-end py-6">
        <div class="next-btn w-70 relative z-2">
          <a href="" class="">
            <div class="text">
              <span class="main-text font-semibold">Ingresar</span>
              <span class="secondary-text font-light">como experto</span>
            </div>
            <div class="arrow"><RightArrow class="size-8 fill-white" /></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
