---

---

<div class="conectamos-container flex flex-row justify-between items-center py-32 px-32 w-full gap-10">
  <div class="left flex flex-col justify-start items-start">
    <p class="text-4xl font-semibold">Conectamos</p>
    <p class="font-light text-3xl ml-30">Los mejores <span class="font-regular text-primary">Expertos</span></p>
    <div class="arrow ml-30"><img class="w-2xl" src="/public/arrow1.svg" alt="" /></div>
  </div>
  <div class="center relative top-10">
    <img src="/public/logos/isotipo_pc.png" class="size-10" alt="isotipo pc" />
  </div>
  <div class="right flex flex-col justify-end items-end">
    <p class="text-4xl font-semibold">Con los</p>
    <p class="font-light text-3xl mr-30">mejores <span class="font-regular text-primary">Proyectos</span></p>
    <div class="arrow mr-30"><img class="w-2xl" src="/public/arrow2.svg" alt="" /></div>
  </div>
</div>
