---

---

<div class="conectamos-container flex flex-row justify-between items-center py-32 px-32 w-full">
  <div class="left flex flex-col justify-start items-start">
    <p class="text-4xl font-semibold">Conectamos</p>
    <p class="font-light text-3xl">Los mejores <span class="font-regular text-primary">Expertos</span></p>
    <div class="arrow"><img class="w-2xl" src="/iconos/Arrow1.svg" alt="" /></div>
  </div>
  <div class="center relative top-10">
    <img src="/logos/isotipo_pc.png" class="size-10" alt="isotipo pc" />
  </div>
  <div class="right flex flex-col justify-end items-end">
    <p class="text-4xl font-semibold">Con los</p>
    <p class="font-light text-3xl">mejores <span class="font-regular text-primary">Proyectos</span></p>
    <div class="arrow"><img class="w-2xl" src="/iconos/Arrow2.svg" alt="" /></div>
  </div>
</div>
