---

---

<div class="hero-container relative w-full h-[calc(100vh-5rem)] px-32 overflow-hidden">
  <div class="hero-content relative w-3xl flex top-40 flex-col text-left h-full gap-6">
    <h1 class="text-7xl font-regular mb-4">
      Donde el <span class="text-primary font-semibold">talento</span>
      <br /> se encuentra <br /> con <br /> la <span class="text-primary font-semibold">oportunidad</span>.
    </h1>
    <a href="/signup" class="btn primary-btn w-62">Empieza ahora gratis</a>
  </div>
  <div class="hero-image absolute right-14 top-22 -z-10">
    <img src="/hero-image.png" alt="Hero Image" class="w-full h-full object-cover" />
  </div>
</div>
