---

---

<div class="banner-container relative bg-primary w-full h-96 flex justify-center items-center overflow-hidden">
  <div class="logo-bg absolute -left-10 -top-10">
    <img src="/public/logos/isotipo_w.png" alt="isotipo trivo white" class="w-60 opacity-20" />
  </div>
  <div class="banner-content flex flex-col justify-center items-center w-1/2 gap-6">
    <div class="logo">
      <img src="/public/logos/logotipo_w.png" alt="logotipo trivo white" class="w-60" />
    </div>
    <div class="text">
      <p class="text-white text-center text-4xl font-light leading-16">Encuentra los mejores profesionales, dispuestos a colaborar en los mas demandantes proyectos.</p>
    </div>
  </div>
  <div class="line-bg absolute">
    <img src="/public/line.png" alt="background line" class="w-full opacity-20" />
  </div>
  <div class="logo-bg absolute -right-10 -bottom-10">
    <img src="/public/logos/isotipo_w.png" alt="isotipo trivo white" class="w-60 opacity-20" />
  </div>
</div>
