---

---

<nav class="navbar flex flex-row items-center justify-between px-32 bg-white border-b-2 border-b-gray-200 shadow-sm">
  <div class="left-group flex flex-row items-center">
    <div class="logo">
      <a href="#home">
        <img class="size-30" src="/logos/logotipo_pc.png" alt="LogoTipo Trivo" />
      </a>
    </div>

    <div class="nav-links pl-20">
      <ul class="flex flex-row items-center justify-between gap-8">
        <li><a href="/" class="text-xl">Home</a></li>
        <li><a href="/about" class="text-xl">Acerca de nosotros</a></li>
        <li><a href="/services" class="text-xl">Como empezar</a></li>
      </ul>
    </div>
  </div>

  <div class="right-group">
    <div class="cta-bottoms">
      <ul class="flex flex-row items-center justify-between gap-4">
        <li><a href="/login" class="btn secondary-btn">Iniciar Sesion</a></li>
        <li><a href="/signup" class="btn primary-btn">Registrarse</a></li>
      </ul>
    </div>
  </div>
</nav>
