---

---

<nav class="navbar flex flex-row items-center justify-between h-20 px-32 py-4 bg-white border-b-2 border-b-gray-200 shadow-sm">
  <div class="left-group flex flex-row items-center">
    <div class="logo">
      <a href="#home">
        <img class="h-10 w-26 aspect-video" src="/logos/logotipo_pc.png" alt="LogoTipo Trivo" />
      </a>
    </div>

    <div class="nav-links pl-20">
      <ul class="flex flex-row items-center justify-between gap-3">
        <li><a href="/" class="text-lg hover:bg-bg-secondary p-3 rounded-xl hover:text-primary transition ease-in-out duration-300 hover:transition hover:ease-in-out hover:duration-300">Home</a></li>
        <li>
          <a href="/about" class="text-lg hover:bg-bg-secondary p-3 rounded-xl hover:text-primary transition ease-in-out duration-300 hover:transition hover:ease-in-out hover:duration-300"
            >Acerca de nosotros</a
          >
        </li>
        <li>
          <a href="/services" class="text-lg hover:bg-bg-secondary p-3 rounded-xl hover:text-primary transition ease-in-out duration-300 hover:transition hover:ease-in-out hover:duration-300"
            >Como empezar</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="right-group">
    <div class="cta-bottoms">
      <ul class="flex flex-row items-center justify-between gap-4">
        <li><a href="/login" class="btn secondary-btn">Iniciar Sesion</a></li>
        <li><a href="/signup" class="btn primary-btn">Registrarse</a></li>
      </ul>
    </div>
  </div>
</nav>
