@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
/* 
---break--- */
@custom-variant dark (&:is(.dark *));

:root {
  --color-primary: #7c3aed;
  --color-bg-primary: #f3f7fc;
  --color-bg-secondary: #eeebff;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #7c3aed;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme {
  --color-primary: #7c3aed;
  --color-bg-primary: #f3f7fc;
  --color-bg-secondary: #eeebff;
}

@layer base {
  * {
    font-family: "Poppins", sans-serif;
    font-weight: regular;
  }

  body {
    @apply bg-bg-primary;
  }

  ul {
    @apply list-none;
  }
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* .user-gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(124, 58, 237, 0.4) 70.19%, #7c3aed 88.94%), lightgray 50% / cover no-repeat;
    box-shadow: 10px 10px 50px 20px rgba(0, 0, 0, 0.15) inset;
    @apply shadow-2xl;
  } */
}

@layer components {
  .next-btn {
    @apply w-60;
  }
  .next-btn > button {
    @apply bg-primary text-white border-l border-t border-b border-transparent rounded-2xl flex flex-row justify-between items-center;
    transition: all 0.3s ease-in-out;
  }

  .next-btn > button > .text {
    @apply py-4 pl-4;
  }
  .next-btn > button > .main-text {
    @apply font-semibold;
  }
  .next-btn > button > .secondary-text {
    @apply font-light;
  }

  .next-btn > button > .arrow {
    @apply bg-[#452D70] h-full py-3 px-4 rounded-r-2xl rounded-br-2xl;
  }

  .next-btn > button > .arrow > img {
    @apply size-8;
  }

  .next-btn:hover > button {
    @apply bg-bg-secondary text-primary border-l border-t border-b border-primary rounded-2xl;
    transition: all 0.3s ease-in-out;
  }

  .next-btn > button:disabled {
    @apply bg-gray-300 text-gray-500 border-l border-t border-b border-gray-300 cursor-not-allowed;
  }

  .next-btn > button:disabled > .arrow {
    @apply bg-gray-500;
  }

  .goback-btn {
    @apply w-60;
  }
  .goback-btn > button {
    @apply bg-bg-secondary text-primary border-r border-t border-b border-primary rounded-2xl flex flex-row justify-between items-center;
    transition: all 0.3s ease-in-out;
  }

  .goback-btn > button > .text {
    @apply py-4 pl-4;
  }
  .goback-btn > button > .main-text {
    @apply font-semibold;
  }
  .goback-btn > button > .secondary-text {
    @apply font-light;
  }

  .goback-btn > button > .arrow {
    @apply bg-[#452D70] h-full py-3 px-4 rounded-l-2xl rounded-bl-2xl;
  }

  .goback-btn > button > .arrow > svg {
    @apply size-8;
  }

  .goback-btn:hover > button > .arrow > svg {
    animation: bounce-x infinite 1s ease-in-out;
  }

  @keyframes bounce-x {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  /* Reclutador form */
  #reclutadorForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "nombreEmpresa nombreEmpresa"
      "nombre apellido"
      "email ubicacion"
      "biografia biografia"
      "contraseña confirmarContraseña";
  }

  #reclutadorForm > .nombreEmpresa {
    grid-area: nombreEmpresa;
  }
  #reclutadorForm > .nombre {
    grid-area: nombre;
  }

  #reclutadorForm > .apellido {
    grid-area: apellido;
  }
  #reclutadorForm > .email {
    grid-area: email;
  }
  #reclutadorForm > .ubicacion {
    grid-area: ubicacion;
  }
  #reclutadorForm > .biografia {
    grid-area: biografia;
  }
  #reclutadorForm > .contraseña {
    grid-area: contraseña;
  }
  #reclutadorForm > .confirmarContraseña {
    grid-area: confirmarContraseña;
  }

  /* Experto form */
  #expertoForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-template-areas:
      "nombre apellido"
      "email ubicacion"
      "biografia biografia"
      "contraseña confirmarContraseña";
  }

  #expertoForm > .nombreEmpresa {
    grid-area: nombreEmpresa;
  }
  #expertoForm > .nombre {
    grid-area: nombre;
  }

  #expertoForm > .apellido {
    grid-area: apellido;
  }
  #expertoForm > .email {
    grid-area: email;
  }
  #expertoForm > .ubicacion {
    grid-area: ubicacion;
  }
  #expertoForm > .biografia {
    grid-area: biografia;
  }
  #expertoForm > .contraseña {
    grid-area: contraseña;
  }
  #expertoForm > .confirmarContraseña {
    grid-area: confirmarContraseña;
  }

  /* Home/Feed */
  /* User dropdowMenu */

  .dropdown-menu > .dropdown-icon > svg {
    transition: all 0.5s ease-in-out;
  }

  .dropdown-menu:hover > .dropdown-icon > svg {
    rotate: 180deg;
    transition: all 0.5s ease-in-out;
  }
  .dropdown-menu > .menu {
    @apply max-h-0 ease-in-out duration-400;
  }
  .dropdown-menu:hover > .menu {
    @apply max-h-[170px] transition-all;
  }

  /* Lateral Menu */
  /* Menu options */

  .menu-container > nav > .section > ul > li {
    @apply border-l-4 border-l-transparent ease-in-out duration-400;
  }

  .menu-container > nav > .section > ul > li > a {
    @apply opacity-60;
  }

  .menu-container > nav > .section > ul > li > button {
    @apply opacity-60;
  }

  .menu-container > nav > .section > ul > li:hover {
    @apply bg-bg-secondary border-l-4 border-l-primary;
  }

  .menu-container > nav > .section > ul > li:hover > a {
    @apply opacity-100;
  }

  .menu-container > nav > .section > ul > li:hover > button {
    @apply opacity-100;
  }

  .menu-container > nav > .section > ul > li:hover > a > span {
    @apply text-primary font-medium;
  }

  .menu-container > nav > .section > ul > li:hover > button > span {
    @apply text-primary font-medium;
  }

  .menu-container > nav > .section > ul > li:hover > a > .icon > svg {
    @apply fill-primary;
  }

  .menu-container > nav > .section > ul > li:hover > button > .icon > svg {
    @apply fill-primary;
  }
}

body {
  background: var(--color-bg-primary);
  font-family: "Poppins", sans-serif;
}

/* 
---break--- */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* 
---break--- */

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* 
---break--- */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
