---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import HeroBanner from "../components/HeroBanner.astro";
import Conectamos from "../components/Conectamos.astro";
import AcercaDe from "../components/AcercaDe.astro";
import ComoEmpezar from "../components/ComoEmpezar.astro";
---

<Layout>
  <header>
    <Navbar />
  </header>

  <main>
    <Hero />
    <HeroBanner />
    <Conectamos />
    <AcercaDe />
    <ComoEmpezar />
  </main>

  <footer>
    <Footer />
  </footer>
</Layout>
