@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  --color-bg-primary: #f3f7fc;
  --color-bg-secondary: #eeebff;
}

@layer base {
  * {
    font-family: "Poppins", sans-serif;
    font-weight: regular;
  }

  body {
    @apply bg-bg-primary;
  }

  ul {
    @apply list-none;
  }
}

@layer components {
  .primary-btn {
    @apply text-lg font-semibold bg-primary border border-white text-white rounded-lg px-6 py-2;
    transition: all 0.3s ease-in-out;
  }

  .primary-btn:hover {
    @apply bg-bg-secondary text-primary border-primary border rounded-lg;
    transition: all 0.3s ease-in-out;
  }

  .secondary-btn {
    @apply text-lg font-semibold border border-primary text-primary rounded-lg px-6 py-2;
    transition: all 0.3s ease-in-out;
  }

  .secondary-btn:hover {
    @apply bg-bg-secondary text-primary border-primary border rounded-lg;
    transition: all 0.3s ease-in-out;
  }

  .next-btn {
    @apply w-60;
  }
  .next-btn > a {
    @apply bg-primary text-white border-l border-t border-b border-transparent rounded-2xl flex flex-row justify-between items-center;
    transition: all 0.3s ease-in-out;
  }

  .next-btn > a > .text {
    @apply py-4 pl-4;
  }
  .next-btn > a > .main-text {
    @apply font-semibold;
  }
  .next-btn > a > .secondary-text {
    @apply font-light;
  }

  .next-btn > a > .arrow {
    @apply bg-[#452D70] h-full py-3 px-4 rounded-r-2xl rounded-br-2xl;
  }

  .next-btn > a > .arrow > img {
    @apply size-8;
  }

  .next-btn:hover > a {
    @apply bg-bg-secondary text-primary border-l border-t border-b border-primary rounded-2xl;
    transition: all 0.3s ease-in-out;
  }
}
